<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>趣味农场</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<link rel="stylesheet" type="text/css" href="__WAP__/css/header.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer.css" />
		<script src="__WAP__/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer-background.css" />
		<style type="text/css">
			.columns {
				display: flex;
				flex-wrap: wrap;
			}

			.columns span {
				width: 25%;
				text-align: center !important;
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				border: 1px solid red;
			}
		</style>
	</head>

	<body>
		<div class="background"></div>
		<div class="wrapper">
			<div class="header">
				<div class="">
					<span class="icon"></span><span>返回</span>
				</div>
				<h3>我的合同</h3>

			</div>
			<div class="page page-current" id="uc_se_agree">
				<!-- 趣味农场养殖合同      
      为了促进带动村民脱贫致富及养殖业的发展，满足急需，扩大内销及出口，经甲、乙双方协商一致，遵循自愿、公平、等价有偿和诚实信用的原则签订本合同，以便明确双方的权利、义务，并共同遵守执行。      
       第一条 产品的名称、品种和数量  
      1．名称：_____ 。 
       2．产品数量： _____ 只。  
       第二条 销售出栏鹅日期及价格。  
      1．甲方于 _____年 _____ 月 _____ 日, 保证供给乙方所订鹅 _____只。 
      2．合同约定每只鹅 _____元。总计 _____ 元。 
      3．合同结束时间 _____年 _____ 月 _____日 。  
       第三条 交货及结算办法  
      1．乙方通过丙方平台购入一定数量的鹅款，待丙方核算后转付给甲方。 
      2．甲方把乙方的成鹅养殖出栏后，可按合同规定自动履行收购，不在另行通知乙方可直接进行收购销售，收购的鹅款按约定分红比例一次性通过丙方平台转给乙方所有本金及分红。 
      3．如乙方总换白条鹅时，需要甲方提供运输工具时，乙方必须派人押运，运输费用及风险由乙方负担。  
        第五条 甲方的责任  
      1.鹅只养殖结束后，甲方按照约定以现金年化收益率，向乙方返还投资收益。
     2.甲乙双方确认并同意，如甲方高于指导价出售鹅的，则超出约定的预期年化率部分的收益归甲方所有；若低于指导价出售的，则甲方应向乙方补足其低于约定的预期年化率部分的收益的差额部分。
          第六条 乙方的责任  
      1．未按时间约定分红或中途退货的，应按未收或退货部分货款总值的_________％（5％—25％的幅度）向甲方支付违约金。
      2．乙方如需提前分红，须经双方协商同意。乙方因特殊原因必须逾期提货或分红的，除比照中国人民银行有关延期付款的规定，按逾期提货部分货款总值计算向甲方偿付违约金外，还应承担甲方在此期间所支付的保管费和饲养费，并承担因此而造成的其他实际损失。合同履行期间，如发生不可抗力的，致使当事人一方不能或不能完全履行合同的，应及时向对方通报理由，经有关主管部门证实后，不负违约责任，并允许变更或解除合同。 
        第七条 优惠条件   
       1．甲方无偿向乙方提供“鹅”的饲养和孵化技术服务。如乙方需深加工（填鹅、屠宰、分割）乙方应向甲方支付营业额5％的技术服务费。 
       2．乙方的成鹅可以纳入甲方的销售网络或由甲方代销。销售完成后，乙方向甲方支付销售额的____15％作为甲方的网络服务费或代理费用。 
        第八条 解决合同纠纷的方式 执行本合同发生争议时，由当事人双方协商解决。协商不成，双方均可向合同履行地的人民法院提起诉讼。  
        第九条 本合同如有未尽事宜，须经双方共同协商，做出补充规定，补充规定与本合同具有同等效力。  
        第十条 双方签字或盖章后与电子版同时生效。本合同一式两份，双方各执一份。       
       本页为签署页。                   
       甲方（盖章）：________________ 法定代表人（签字）：__________ _________年_______月_______日              
       乙方（盖章）：________________ 法定代表人（签字）：_________年 _____月 _____日-->
				<div class="content native-scroll" style="padding:0.5rem; font-size:15px;">
					<p style="text-align:center;font-size:18px;"><strong>趣味农场养殖合同</strong></p>
					<br>
					<p class="column">为了促进带动村民脱贫致富及养殖业的发展，满足急需，扩大内销及出口，经甲、乙双方协商一致，遵循自愿、公平、等价有偿和诚实信用的原则签订本合同，以便明确双方的权利、义务，并共同遵守执行。      
       </p>
					<br>
					<p><strong>第一条　产品的名称、品种和数量</strong></p><br>
					<p class="column">1．名称：{$hetong.name}。</p>
					<p class="column">2．产品数量：{$hetong.zongshu} 只。</p><br>
					<p><strong>第二条　销售出栏鹅日期及价格。</strong></p><br>
					<p class="column">1．甲方于 {$hetong.kashitime|date="Y 年 m 月 d 日",###} 保证供给乙方所订鹅 {$hetong.zongshu} 只。</p>
					<p class="column">2．合同约定每只鹅 {$hetong.price} 元。总计 {$hetong.zongjia} 元。</p>
					<p class="column">3．合同结束时间 {$hetong.jieshutime|date="Y 年 m 月 d 日",###} 。</p><br>
					<p><strong>第三条　交货及结算办法</strong></p><br>
					<p class="column">1．乙方通过丙方平台购入一定数量的鹅款，待丙方核算后转付给甲方。 </p>
					<p class="column">2．甲方把乙方的成鹅养殖出栏后，可按合同规定自动履行收购，不在另行通知乙方可直接进行收购销售，收购的鹅款按约定分红比例一次性通过丙方平台转给乙方所有本金及分红</p>
					<p class="column">3．如乙方总换白条鹅时，需要甲方提供运输工具时，乙方必须派人押运，运输费用及风险由乙方负担。  </p><br>
					<p><strong>第四条　甲方的责任  </strong></p><br>
					<p class="column"> 1.鹅只养殖结束后，甲方按照约定以现金年化收益率，向乙方返还投资收益。</p>
					<p class="column">2.甲乙双方确认并同意，如甲方高于指导价出售鹅的，则超出约定的预期年化率部分的收益归甲方所有；若低于指导价出售的，则甲方应向乙方补足其低于约定的预期年化率部分的收益的差额部分。</p>
					
					<br><p><strong>第五条 乙方的责任  </strong></p><br>
					<p class="column">1．未按时间约定分红或中途退货的，应按未收或退货部分货款总值的_________％（5％—25％的幅度）向甲方支付违约金。</p>
					<p class="column"> 2．乙方如需提前分红，须经双方协商同意。乙方因特殊原因必须逾期提货或分红的，除比照中国人民银行有关延期付款的规定，按逾期提货部分货款总值计算向甲方偿付违约金外，还应承担甲方在此期间所支付的保管费和饲养费，并承担因此而造成的其他实际损失。合同履行期间，如发生不可抗力的，致使当事人一方不能或不能完全履行合同的，应及时向对方通报理由，经有关主管部门证实后，不负违约责任，并允许变更或解除合同。 
      </p>
					<br><p><strong>第六条　优惠条件　</strong></p><br>
					<p class="column"> 1．甲方无偿向乙方提供“鹅”的饲养和孵化技术服务。如乙方需深加工（填鹅、屠宰、分割）乙方应向甲方支付营业额5％的技术服务费。 </p>
					<p class="column"> 2．乙方的成鹅可以纳入甲方的销售网络或由甲方代销。销售完成后，乙方向甲方支付销售额的____15％作为甲方的网络服务费或代理费用。 </p>
					<br><p><strong>  第七条 解决合同纠纷的方式 执行本合同发生争议时，由当事人双方协商解决。协商不成，双方均可向合同履行地的人民法院提起诉讼。  </strong></p><br>
				<br>	<p><strong>  第八条 本合同如有未尽事宜，须经双方共同协商，做出补充规定，补充规定与本合同具有同等效力。  </strong></p><br>
				<br>	<p><strong> 第九条 双方签字或盖章后与电子版同时生效。本合同一式两份，双方各执一份。       </strong></p>
					<br>


					<p><strong>本页为签署页。</strong></p>
					<br><br><br><br><br>
					<style>
						.column {
							text-indent: 30px;
						}

						.sn {
							width: 161px;
							height: 158px;
							margin-top: -100px;
							margin-left: 30px;
						}

						.ml {
							width: 161px;
							height: 158px;
							margin-top: -100px;
							margin-left: 30px;
						}

						.mg {
							width: 161px;
							height: 158px;
							margin-top: -100px;
							margin-left: 30px;
						}
					</style>
					<p style="text-align: left;font-weight: 600;">甲方（盖章）：________________<br>法定代表人（签字）：__________<br>
__________年_______月_______日</p>
					<!--<div class="sn"><img src="img/sn.png"></div>-->
					<br><br><br><br><br>
					<p style="text-align: left;font-weight: 600;">乙方（盖章）：________________<br>
法定代表人（签字）：{$hetong.username}<br>
{$hetong.create_time|date="Y 年 m 月 d 日",###}</p>
					<!--<div class="ml"><img src="img/ml.png"></div>-->
					<!--<br><br><br><br><br>
					<p style="text-align: left;font-weight: 600;">锡林郭勒盟蒙高丽亚农牧业发展有限公司</p>-->
					<!--<div class="mg"><img src="img/mg.png"></div>-->
					<br><br><br><br><br>

<!-- 					<p><strong>本页为鹅只编号。</strong></p>
					<table border="1" style="margin: 0px auto; border-collapse: collapse; border: 1px solid rgb(0, 0, 0); width: 100%; ">
						<tbody>
							<tr>
								<td style="text-align:center;" colspan="4">鹅只编号</td>

							</tr>
							<tr>
								<td style="text-align:center;">1234</td>
								<td style="text-align:center;">1234</td>
								<td style="text-align:center;">1234</td>
								<td style="text-align:center;">1234</td>
							</tr>

						</tbody>
					</table> -->
				</div>
			</div>

		</div>
		<script src="__WAP__/js/header.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		</script>
	</body>

</html>