<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<!--<title>我的</title>-->
		<title>趣味农场</title>
		<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7/dist/__WAP__/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/header.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/style.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/spirit.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer-background.css"/>
		<script src="__WAP__/js/jQuery v2.1.1.js"></script>

		<style type="text/css">

			.text,.text .card{
				padding-bottom: 2rem;
				/*display: none;*/
			}

			.text .card .card-header,
			.text .card .card-content {
				width: 100%;
				box-sizing: border-box;
			}

			.text .card .card-header {
				padding: 2rem 0rem;
				font-size: 1.5rem;
			}

			.text .card .card-content {
				line-height: 2rem;
				font-size: 1.3rem;
				padding: 0 1rem;
			}

			.card-content-inner p, .card-content-inner>div,.card-content-inner>div>div{
				margin-top: 1rem;
			}

			.card-content-inner p:nth-child(1),.card-content-inner>div:nth-child(1),.card-content-inner>div>div:nth-child(1){
				margin-top: 0rem;
			}

			.card-content-inner img {
				width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="wrapper">
			<div class="header">
				<div class="">
					<span class="icon"></span><span>返回</span>
				</div>
				<h3>帮助中心</h3>
				<!--<a href="###">交易统计</a>-->
			</div>
			<div class="content bgCo native-scroll">

				<!-- 这里是页面内容区 -->
				<div class="text">
					<div class="card">
						<div class="card-header">为什么羊群很快就卖完了？</div>
						<div class="card-content">
							<div class="card-content-inner">
								<p>
									您好，常规羊群和辅助羊群数量有限，购买的牧主较多您可以提前做好充值准备保证账户余额大等于购买羊只数量，项目开启时及时购买。
								</p>

							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">提现到银行卡需要注意哪些问题？</div>
						<div class="card-content">
							<div class="card-content-inner">
								<p>
									1、绑定与账户相同的本人实名银行卡。
								</p>

								<p>
									2、每日可提现一次。
								</p>

								<p>
									3、每次提现数额需大于100。
								</p>

								<p>
									4、提现金额不能大于财富牧场个人账户余额。
								</p>

								<p>
									5、提现时需填写开户行名称，若忘记请咨询开卡银行客服。
								</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">余额支持哪些提现方式？</div>
						<div class="card-content">
							<div class="card-content-inner">
								<p>
									您好，我们提供两种提现方式供您选择，兑换羊肉或绑定银行卡将余额提现。
								</p>

								<p>
									注：银行卡必须与账户为同一实名认证的自然人。
								</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">充值时会产生手续费吗？</div>
						<div class="card-content">
							<div class="card-content-inner">
								<p>
									您好，如果您充值的金额用来定制羊群或者购买羊群，充值手续费由财富牧场承担。
								</p>
								<p>

								</p>
								如果，您没有购买羊群或定制羊群，充值后直接提现，手续则费需您个人承担。<br> </div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">如何往财富牧场的账户中充值？</div>
						<div class="card-content">
							<div class="card-content-inner">
								<p>
									财富牧场账户充值目前之前两种形式：线上充值和对公转账。
								</p>

								<p>
									1、线上充值：通过支付宝平台将金额充值到财富牧场个人账户余额中。
								</p>

								<p>
									2、对公转账：通过线下转账的方式将您想充值的金额转账到“蒙蓝科技”的对公账户中，转账前请联系客服确认。
								</p>

								<p>
									客服电话：400-800-8344。
								</p>

								<p>
									客服微信：
								</p>
								<p>
									财富牧场-托亚（TUOYA-0604）&nbsp;
								</p>
								<p>
									财富牧场-阿茹娜（third8946）
								</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">哪里可以看有新羊群上线或者预告？</div>
						<div class="card-content">
							<div class="card-content-inner">
								<p>
									您好，我们每日会在“财富牧场”官方网站的【官方公告】中提前预告次日会上线的最新项目，或您直接联系客服人员获取上线预告；
								</p>

								<p>
									同时客服人员会将您邀请到牧主群中，我们也会在牧主群中第一时间公布最新项目预告以及成交展示。
								</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">如何在手机上查看账户余额已购买的羊群等信息？</div>
						<div class="card-content">
							<div class="card-content-inner">
								<p>
									您好，您可以关注“财富牧场”微信公众账号，进入之后点击下方“我的牧场”登录您的账户即可在手机端进行购买，充值，提现等操作，能够帮助您更加方便快捷的管理您的账户。
								</p>

								<p>
									搜索财富牧场平台微信账号&nbsp;<strong><span style="color:#E53333;">CaiFuMuChangPT <span style="color:#000000;">或者搜索 <span style="color:#E53333;">财富牧场平台&nbsp;<span style="color:#000000;">如下图：</span></span></span></span></strong>
								</p>

								<p>
									<img src="__WAP__/img/597ee3505707b.png" alt="">
								</p>

								<p>
									<strong>点击【我的牧场】进入移动端操作系统。</strong>
								</p>

								<p>
									<img src="__WAP__/img/597ee35c1dd4e.png" alt="">
								</p>

								<p>
									<strong>【财富牧场移动端】首页您可以在此页面选择您感兴趣的页面。</strong>
								</p>

								<p>
									<img src="__WAP__/img/597ee3e5377d0.png" alt="">
								</p>

								<p>
									<strong>点击【我的牧场】可查看和管理您购买的羊群的记录。</strong>
								</p>

								<p>
									<img src="__WAP__/img/597ee42cd178d.png" alt="">
								</p>

								<p>
									<strong>点击页面最下方【我的】进入下图页面：</strong>
								</p>

								<p>
									<img src="__WAP__/img/597ee43eeffa9.png" alt="">
								</p>

								<p>
									<span style="color:#E53333;">扫一扫下方二维码，关注【财富牧场】</span><span style="color:#E53333;">微信公众账号随时随地管理您的账户。</span>
								</p>

								<p>
									<span><img src="__WAP__/img/597ed1439aede.jpg" alt=""><br>
</span>
								</p>

							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">每日羊群数量/出栏期限说明。</div>
						<div class="card-content">
							<div class="card-content-inner">
								<p class="MsoNormal" align="left">
									<span style="color:#E53333;">一、羊群数量有限制吗？</span><span> </span>
								</p>
								<p class="MsoNormal" align="left">
									每批羊群数量根据实际情况随时变换：
								</p>
								<p class="MsoNormal" align="left">
									目前常规羊群一批数量上限为 150 只。
								</p>
								<p class="MsoNormal" align="left">
									店铺辅助羊群一批数量上限为 50 只。
								</p>

								<p class="MsoNormal" align="left">
									<span style="line-height:1.5;">财富牧场审核员根据供养方提交的认证材料及自身实力经实地考察、验证后给予供养方相应的羊群数量限定。同时，平台依据双方合作的实际情况和供养方的资质认定情况，给予约定羊群相应的资金担保。</span>
								</p>

								<p class="MsoNormal" align="left">
									<span style="color:#E53333;">二、羊群有固定上线时间吗？</span>
								</p>

								<p class="MsoNormal" align="left">
									辅助羊群上线时间：每周一、三、五，上午 9：30 分准时上新，年化收益15%.
								</p>

								<p class="MsoNormal" align="left">
									常规羊群上线时间：每周一、二、三、四、五，上午 10：00 准时上线新，年化收益16%.
								</p>

								<p class="MsoNormal" align="left">
									<span style="color:#E53333;">三、财富牧场的羊群出栏期限？</span><span> </span>
								</p>

								<p class="MsoNormal" align="left">
									目前财富牧场平台羊群出栏期限：
								</p>

								<p class="MsoNormal" align="left">
									店铺辅助羊群为 35 天。
								</p>

								<p class="MsoNormal" align="left">
									<span>常规羊群为 120 天。</span>
								</p>

								<p>
									<span style="line-height:1.5;">VIP私人订制羊群为120 天 - 365 天任选。</span>
								</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">费用、合同、买羊金额限</div>
						<div class="card-content">
							<div class="card-content-inner">
								<div class="b">
									平台用户在财富牧场上买羊需要交哪些费用
								</div>
								<div>
									平台用户仅需向第三方支付平台（银联在线、财付通、支付宝等）缴纳账户充值与提现的费用，财富牧场对平台用户不收取任何费用。详情请见“
									<strong class="sa">费用</strong> ”。
								</div>
								<div class="b">
									电子合同有效吗
								</div>
								<div>
									我国新合同法第十一条规定: 书面形式合同是指合同书、信件和数据电文(包括电报、电传、传真、电子数据交换和电子邮件)等可以有形地表现所载内容的形式。因此电子合同属于书面形式的合同一种，是受到法律保护的。另外财富牧场平台中的合同文本都由经济法律师起草的，保证了经过这个平台的交易是具备法律效力的。
								</div>
								<div class="b">
									买羊人的购买金额是否有限制
								</div>
								<div>
									买羊人在财富牧场平台的账户充值、买羊、消费金额均无上限。
								</div>

							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">认购或定制羊群需要什么条件？</div>
						<div class="card-content">
							<div class="card-content-inner">

								<p>
									答：您好，购买羊群或定制羊群需要您使用真实有效的身份信息在“财富牧场平台”进行实名认证且无不良征信记录即可。
								</p>

							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">意见反馈、举报</div>
						<div class="card-content">
							<div class="card-content-inner">
								<div class="b">
									对网站有任何建议或意见，如何反馈
								</div>
								<div class="b">
										您可以发站内信给“财富牧场客服”，我们会及时给您回馈。
									</div>
									<div class="b">
										发站内信请访问网站上“我的财富牧场<span style="line-height:1.5;">”-“我的财富牧场”-“站内信”。</span>
									</div>
								<div class="b">
									遇到其他用户恶意骚扰怎么办
								</div>
								<div>
									如遇到情况严重的恶意骚扰，请举报该用户给财富牧场工作人员。我们核实后会尽快采取处理措施。
								</div>
								<div class="b">
									遇到别人盗用我的资料假冒我怎么办
								</div>
								<div>
									如遇到此类情况，您可以联系财富牧场的在线客服或拨打我们的客服热线0471-2501498来向我们说明情况，我们会尽快采取处理措施，以确保您信息和资金的安全。
								</div>
								<div class="b">
									如何截屏并保存图片
								</div>
								<div>
									<div>
										一、使用PrintScreen键
									</div>
									<div>
										1、首先，在出现想要截的画面的时候，按下键盘上的PrintScreen键。
									</div>
									<div>
										2、在"开始"→"所有程序"→"附件"选"画图"，这会打开Windows系统自带的画图程序(mspaint.exe)选择"编辑"→"粘贴"(或者直接用Ctrl+V热键)，将截下来的图粘贴到画图程序中。
									</div>
									<div>
										3、将图片进行保存，选择"文件"→"另存为"，在出现的另存为对话框中选择保存类型为 JPEG（*.JPG;*.JPEG;*.JPE;*.JFIF），然后输入文件名，点击保存。
									</div>
									<div>
										二、使用QQ截屏
									</div>
									<div>
										1、打开QQ对话框。
									</div>
									<div>
										2、点击Ctrl+Alt+A键，用鼠标选取想截屏的画面。
									</div>
									<div>
										3、点击“保存”，在出现的对话框中选择保存类型为 JPEG（*.JPG;*.JPEG;），然后输入文件名，点击保存。
									</div>
									<div>
										三、使用其他截屏工具
									</div>
									<div>
										说明： 请不要用任何其他图片编辑软件编辑。如果发现用户存在用其他图片编辑软件的情况，您将会被加入系统黑名单。
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		</div>
		<p class="overtop">签到成功</p>
		<div class="background"></div>
		<script src="__WAP__/js/header.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			/*获取值 下标*/
			/*vat tt= 0;
			$(".text .card").css("display", "none");
			$(".text .card:nth-child(" + (tt + 1) + ")").css("display", "block");*/
		</script>
	</body>

</html>