<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<!--<title>我的</title>-->
		<title>趣味农场</title>
		<link rel="stylesheet" type="text/css" href="__WAP__/bootstrap-3.3.7/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/header.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/style.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/spirit.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer-background.css" />
		<script src="__WAP__/js/jQuery v2.1.1.js"></script>

		<style type="text/css">
			.content {
				width: 95%;
				margin: 0 auto;
			}

			.rule_title {
				font-size: 2rem;
				line-height: 3rem;
			}

			.rule_con {
				font-size: 1.6rem;
				line-height: 2rem;
				text-align: justify;
				letter-spacing: 1px;
			}

			.chongzhi,
			.tixian {
				font-size: 1.8rem;
				line-height: 3rem;
			}
		</style>
	</head>

	<body>
		<div class="wrapper">
			<div class="header">
				<div class="">
					<span class="icon"></span><span>返回</span>
				</div>
				<h3>充值、提现规则</h3>
				<a href="###"></a>
			</div>
			<div class="content rw_rule native-scroll">
				<p class="rule_title">充值、提现规则</p>
				<p class="rule_date a9">2017-02-17</p>
				<p class="chongzhi">充值：</p>
				<p class="rule_con">1.&nbsp;如您线上充值不成功，可改用线下转账的方式，即用手机银行、网银或到银行柜台向财富牧场对公账户转账。</p>
				<p class="rule_con">2.&nbsp;财富牧场按照客户充值金额（金额≥5万）的0.1%进行奖励（仅限线下充值），金额低于5万暂不作出奖励。</p>
				<p class="rule_con">3.&nbsp;工作日内充值申请审核时间在30分钟内，请耐心等待。</p>
				<p class="tixian">提现:</p>
				<p class="rule_con">1.&nbsp;您申请提现后需财务部门核实资金，工作日16点之前提现，当日可到账；16点之后提现，次日到账，节假日顺延。</p>
				<p class="rule_con">2.&nbsp;财富牧场规定：用户充值未买羊群时，平台将在7个自然日内不予提现。7个自然日后申请提现，平台将收取提现金额0.6%的手续费。请您妥善安排好资金，谢谢合作。</p>
			</div>

		</div>
		<!--<p class="overtop">签到成功</p>-->
		<div class="background"></div>
		<script src="__WAP__/js/header.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		</script>
	</body>

</html>