<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<!--<title>我的</title>-->
		<title>趣味农场</title>
		<link rel="stylesheet" type="text/css" href="__WAP__/bootstrap-3.3.7/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/header.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/style.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/spirit.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer-background.css"/>
		<script src="__WAP__/js/jQuery v2.1.1.js"></script>

		<style type="text/css">
			.Money_Log,
			.total_transaction {
				width: 100%;
			}

			.total_transaction {
				line-height: 4rem;
				box-sizing: border-box;
				padding: 0 1rem;
				display: flex;
				background-color: white;
				margin-top: 2px;
			}
		</style>
	</head>

	<body>
		<div class="wrapper">
			<div class="header">
				<div class="">
					<span class="icon"></span><span>返回</span>
				</div>
				<h3>提现记录</h3>
				<a href="###"></a>
			</div>
			<ul class="Money_Log invest">
				<p class="total_transaction a9 white">
					提现总额：<span class="a1">￥
					{if condition="$money"}
					{$money}
					{else /}
					0.00
					{/if}
					</span>
				</p>

				<!-- <div class="no_record"></div> -->
			</ul>
			<ul>
			{volist name="arr" id="vo"}
				<li>
					<div class="fw_left fl">
						<div class="chtx a1">{$vo.money}元</div>
						<div>操作金额</div>
					</div>
					<div class="fw_right fr">
						<div >审核状态 :
						{if condition="$vo.status eq 1"}
						已通过
						{eles /}
						未通过
						{/if}</div>
						<div>申请时间 : {$vo.create_time|date="y-m-d h:i:s",### ?? ''}</div>
					</div>
				</li>
			{/volist}
			</ul>

		</div>
		<p class="overtop">签到成功</p>
		<div class="background"></div>
		<script src="__WAP__/js/header.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>