<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<!--<title>发现</title>-->
		<title>趣味农场</title>
		<link rel="stylesheet" type="text/css" href="__WAP__/bootstrap-3.3.7/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/header.min.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/style.min.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/spirit.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer.min.css" />
		<script src="__WAP__/js/jQuery v2.1.1.js"></script>
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer-background.css"/>
	</head>
<script>
(function(b,a,e,h,f,c,g,s){b[h]=b[h]||function(){(b[h].c=b[h].c||[]).push(arguments)};
b[h].s=!!c;g=a.getElementsByTagName(e)[0];s=a.createElement(e);
s.src="//s.union.360.cn/"+f+".js";s.defer=!0;s.async=!0;g.parentNode.insertBefore(s,g)
})(window,document,"script","_qha",224241,false);
</script>
	<body style="background-color: #F0F0F3;">
		<div class="wrapper" style="padding-bottom: 30px;">
			<ul class="activity">
			{volist name="activity" id="vo"}
				<li>
					<a class="activitys" href="{:url('discover/info',['id'=>$vo.id])}">
						<div class="movable_panel">
							<img src="{$vo.image}" />
						</div>
						<div class="activity_theme a1">
							<div class="activity_con">
								<span class="fl">{$vo.title}</span>
								<span class="fr a9">
								{if condition="$vo.status eq 1"}
								进行中
								{else /}
								已结束
								{/if}
								</span>
							</div>
							<div class="activety_time a9">2017-09-19</div>
						</div>
					</a>
				</li>
			{/volist}
			</ul>
		<!--footer 选中状态-->
			<div class="footer">

				<a href="{:url('index/index')}">

					<span class="icons "></span>

					<p>农场</p>

				</a>

				<a href="{:url('Supermarket/index')}">

					<span class="icons"></span>

					<p>超市</p>

				</a>

				<a href="{:url('Discover/index')}">

					<span class="icons"></span>

					<p>发现</p>

				</a>

				<a href="{:url('member/index')}">

					<span class="icons"></span>

					<p>我的</p>

				</a>

			</div>
		</div>
		<div class="background"></div>
		<script src="__WAP__/js/header.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			/*footer 当前页选中状态*/
			$(".footer a:nth-child(3) .icons").css("background", "url(__WAP__/img/iconlist_05.png) no-repeat center 32%");
			$(".footer a:nth-child(3) .icons").css("background-size", "2.5rem");
		</script>
	</body>

</html>