<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<!--<title>发现</title>-->
		<title>趣味农场</title>
		<link rel="stylesheet" type="text/css" href="__WAP__/bootstrap-3.3.7/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/header.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/style.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/spirit.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer.css" />
		<script src="__WAP__/js/jQuery v2.1.1.js"></script>
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer-background.css"/>
	</head>

	<body style="background-color: #F0F0F3;">
		<div class="wrapper" style="padding-bottom: 30px;">
			<ul class="activity">

				<li>
					<a class="activitys" href="{:url('discover/info1')}">
						<div class="movable_panel">
							<img src="__WAP__/img/banner1.jpg" />
						</div>
						<div class="activity_theme a1">
							<div class="activity_con">
								<span class="fl">财富牧场2周年大狂欢！</span><span class="fr a9">进行中</span>
							</div>
							<div class="activety_time a9">2017-09-19</div>
						</div>
					</a>
				</li>
				<li>
					<a class="activitys" href="{:url('discover/info2')}">
						<div class="movable_panel">
							<img src="__WAP__/img/banner5.jpg" />
						</div>
						<div class="activity_theme a1">
							<div class="activity_con">
								<span class="fl">礼遇中秋</span><span class="fr a9">已结束</span>
							</div>
							<div class="activety_time a9">2017-09-22</div>
						</div>
					</a>
				</li>
				<li>
					<a class="activitys" href="{:url('discover/info3')}">
						<div class="movable_panel">
							<img src="__WAP__/img/banner6.jpg" />
						</div>
						<div class="activity_theme a1">
							<div class="activity_con">
								<span class="fl">积分大放送</span><span class="fr a9">已结束</span>
							</div>
							<div class="activety_time a9">2017-08-25</div>
						</div>
					</a>
				</li>
			</ul>
		<!--footer 选中状态-->
			<div class="footer">

				<a href="{:url('index/index')}">

					<span class="icons "></span>

					<p>牧场</p>

				</a>

				<a href="{:url('Supermarket/index')}">

					<span class="icons"></span>

					<p>超市</p>

				</a>

				<a href="{:url('Discover/index')}">

					<span class="icons"></span>

					<p>发现</p>

				</a>

				<a href="{:url('member/index')}">

					<span class="icons"></span>

					<p>我的</p>

				</a>

			</div>
		</div>
		<div class="background"></div>
		<script src="__WAP__/js/header.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			/*footer 当前页选中状态*/
			$(".footer a:nth-child(3) .icons").css("background", "url(__WAP__/img/iconlist_05.png) no-repeat center 32%");
			$(".footer a:nth-child(3) .icons").css("background-size", "2.5rem");
		</script>
	</body>

</html>