<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>趣味农场</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<link rel="stylesheet" type="text/css" href="__WAP__/css/header.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer.css" />
		<script src="__WAP__/js/jQuery v2.1.1.js"></script>
		<style type="text/css">
			.imgs{
				width: 100%;
				box-sizing: border-box;
				padding: 15px;
			}
			.imgs img{
				width: 100%;
				display: block;
			}
			.imgs p{
				 letter-spacing:2px;
			}
		</style>
	</head>

	<body>
		<div class="wrapper" >
			<div class="header">
				<div class="" >
					<span class="icon"></span><span>返回</span>
				</div>
				<h3>我的发现</h3>

			</div>
			<div class="imgs">
				{$activity.content}
			</div>
		</div>
		<div class="background"></div>
		<script src="__WAP__/js/header.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>