{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="">商品名称</th>
            <th width="">商品单价</th>
            <th width="">商品简介</th>
            <th width="">商品图片</th>
            <th width="">商品介绍图片</th>
            <th width="">商品数量</th>
            <th width="">创建时间</th>
            <th width="">商品状态</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td>{$vo.name|high_light=$Request.param.name}</td>
            <td>{$vo.price}</td>
            <td>{$vo.content}</td>
            <td><img src="{$vo.image}" width="80" height="80"></td>
            <td><img src="{$vo.content_img}" width="80" height="80"></td>
            <td>{$vo.number}</td>
            <td>{$vo.create_time|date="y-m-d H:i",###}</td>
            <td>{$vo.status|get_status}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}

