{extend name="template/base" /}
{block name="content"}
<div class="page-container">

    <div class="cl pd-5 bg-1 bk-gray">
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="">提现金额</th>
            <th width="">提现手续费</th>
            <th width="">姓名</th>
            <th width="">手机号码</th>
            <th width="">银行名称</th>
            <th width="">银行卡号</th>
            <th width="">提现状态</th>
            <th width="">申请时间</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.money}</td>
            <td>{$vo.charge}</td>
            <td>{$vo.username}</td>
            <td>{$vo.mobile}</td>
            <td>{$vo.bank_name}</td>
            <td>{$vo.bank_card}</td>
            <td style="color:red">{if condition="$vo.status eq 0"}审核中{elseif condition="$vo.status eq 1" /}已通过{elseif condition="$vo.status eq 2"/}未通过{/if}</td>
            <td>{$vo.create_time|date="y-m-d H:i",###}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}

