<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>趣味农场</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<link rel="stylesheet" type="text/css" href="__WAP__/css/header.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/shop.css" />
		<script src="__WAP__/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.detail1,
			.big-button {
				background: linear-gradient(to right, #51d2a7, #51d1a1);
			}

			a.found {
				color: #51d2a7;
				font-size: 0.75rem;
			}

			.detail3 .row6>p,
			.detail3 .row6>div>a,
			.overtop1 p:nth-child(2) {
				color: #51d2a7;
			}

			.row6>div>div {
				border: 1px solid #51d2a7;
				background-color: #51d2a7;
				box-sizing: border-box;
			}

			.timer-simple-seconds {
				font-size: 0.8rem;
			}

			.day,
			.hour,
			.minute,
			.second {
				font-size: 0.8rem;
			}

			#timer {
				display: flex;
			}

			#big-button {
				display: flex;
				justify-content: center;
				text-align: center;
			}

			#big-button .icon {
				background: url(__WAP__/img/nao.png) no-repeat center center;
				background-size: 1.4rem;
				width: 1.5rem;
				height: 1.5rem;
				line-height: 2.24rem;
				margin-top: 0.35rem;
			}

			#big-button span:nth-child(2) {
				width: auto;
			}
		</style>
	</head>

	<body>
		<div class="wrapper">
			<div class="header">
				<div class="">
					<span class="icon"></span><span>返回</span>
				</div>
				<h3>项目详情</h3>
				<a href="####" style="opacity: 0;">交易统计</a>
			</div>
			<input type="hidden" name="id" value="{$arr.id}" id="sp_id">
			<div class="detail">
				<div class="detail1">
					<div class="detail1_top">
						<div>
							<p>鹅单价(元)</p>
							<p><span>{$arr.price}</span><span class="em"></span></p>
						</div>
						<div>
							<p>剩余鹅只（只）</p>
							<p>{$arr.number}</p>
						</div>
					</div>
					<div class="detail1_bottom">
						<p><span id="num">{$arr.numbers}</span><span class="em">只大白鹅</span></p>
						<p><span>{$arr.rate}</span><span class="em">天联养周期</span></p>
						<p><span>{$arr.return_price}</span><span class="em"><em>%</em>年联养回报</span></p>
					</div>
				</div>
				<div class="detail2">
					<p>{$arr.name}</p>
					<p><span>项目编号</span><span class="em">{$arr.com_number}</span></p>
					<p><span>购买时间</span><span id="timer" class="timer-simple-seconds" timer="{$time}">
							<span class="day">0</span>天<span class="hour">0</span>时<span class="minute">0</span>分<span class="second">0</span>秒
						</span>
					</p>
				</div>
				<div class="detail3">
					<div class="row">
						<p>资金余额</p>
						<p><span class="em">￥</span><span class="em" id="em1" style="font-size: 0.8rem;">{$balance}</span></p>
					</div>
					<div class="row">
						<p><span>购养数量</span><span>可手动输入</span></p>
						<p>
							<span id="subtract">-</span>
							<input type="number" name="" id="number" value="1" />
							<span id="plus">+</span>
						</p>
					</div>
					<div class="row" style="display: none;">
						<p><span>使用红包</span><span>超出不返还</span></p>
						<p>
							<span>请选择红包</span><span class="icon"></span>
						</p>
					</div>
					<div class="row">
						<p>支付密码</p>
						<p>
							<input type="tel" name="" id="max6" placeholder="请输入支付密码" maxlength="6" />
						</p>
					</div>
					<div class="row">

						<p><span>共</span><span class="em" id="numbers">1</span><span>只鹅:   </span><span class="em">￥</span><span class="em" id="qian">{$arr.price}</span>
							<span style="font-size: 0.6rem;margin-left: 2px;">（</span><span style=" font-size: 0.6rem;">养殖利润:</span><span class="em" style="font-size: 0.6rem;     color: #a9a9a9;">￥</span><span class="em" id="profit" style="font-size: 0.7rem;    color: #a9a9a9;">{$arr.profit}</span><span class="em"></span><span style="font-size: 0.6rem;">）</span>
						</p>
					</div>
					<div class="row row6">
						<div>
							<!--<input type="checkbox" name="" id="" value="" checked="checked" />-->
							<div class="">
								<span>√</span>
							</div>
							<!--<div class="pretty info">
								<input type="checkbox">
								<label><i class="mdi mdi-check"></i></label>
							</div>-->
							<span>朕已阅读并同意</span>
							<a href="{:url('Order/xieyi')}">《趣味农场服务协议》</a>
						</div>
						<p style="font-size: 0.8rem;" onclick="window.location='{:url("Order/infolist",["id"=>$arr.id])}'">交易详情</p>
					</div>
				</div>
				<div class="detail4">

				</div>
			</div>
			<button class="big-button press" id="big-button">朕要买鹅</button>
			<a href="#" class="found m_co sh_au-ex" style="">店铺铺助鹅群说明</a>
			<div id="goodcover"></div>
			<!-- 商铺辅助鹅群群说明-->
			<div id="code" style="display: none;">
				<h6 class="shop_title">店铺铺助鹅群说明</h6>
				<p class="shop_explain">各位亲爱的农场主大大的鹅只出栏后，趣味生态农场专业合作社代购农场主们的鹅只，但从屠宰场到实体店再到消费者，一个整体的产销流程需要35天左右，所以我们增加了趣味农场店铺辅助鹅群。常规鹅群出栏后，农场主未兑换鹅肉的鹅只由下一任辅助鹅主接收，直到鹅只真正流入终端，辅助农场主也会得到相应的回报。</p>
				<!-- 关闭按钮-->
				<div class="close">
					<a href="#" id="closebt"></a>
				</div>
			</div>

		</div>
		<div class="background">

		</div>
		<p class="overtop">超出剩余数量</p>
		<div class="overtop1">
			<p class="overtop_text"></p>
			<p>确定</p>
		</div>
		<script src="__WAP__/js/header.js" type="text/javascript" charset="utf-8"></script>
		<script src="__WAP__/js/time.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			/*鹅数量 - */
			$("#subtract").click(function() {
				var num = parseInt($("#number").val());
				if($("#number").val() == "") {
					num = 0;
					$("#number").val("1");
					bian();
				}
				if(num > 1) {
					$("#number").val(num - 1);
					bian();
				}
			})
			/*鹅数量 + */
			$("#plus").click(function() {
				var num = parseInt($("#number").val());
				if($("#number").val() == "") {
					num = 0;
				}
				/*获取鹅数量 剩余*/
				var zui = parseInt($(".detail1_top div:nth-child(2) p:nth-child(2)").text());
				if(num >= zui) {
					var sp_id = $("#sp_id").val();
					$.ajax({
						type: "POST", //提交方式
						url: "{:url('Order/number')}", //路径
						data: {
							"id": sp_id
						},
						dataType: "json", //数据，这里使用的是Json格式进行传输
						success: function(result) {
							var aa = JSON.parse(result);
							$(".detail1_top div:nth-child(2) p:nth-child(2)").text(aa.number);
							$("#num").text(aa.number);
							$("#number").val(aa.number);
						}
					});
					bian();
					$(".overtop").text("超出剩余数量");
					overtop();
				} else {
					$("#number").val(num + 1);
					bian();
				}

			})
			/*鹅数量输入时时变更*/
			$("#number").bind('input', function() {
				if($(this).val() < 0) {
					$(this).val("0");
				}
				if($(this).val() == "") {
					$(this).val("0");
				}
				/*获取鹅数量 剩余*/
				var zui = parseInt($(".detail1_top div:nth-child(2) p:nth-child(2)").text());
				if($(this).val() >= zui) {
					overtop();
					$(this).val(zui);
				}
				bian();
			})
			/*鹅数量超出 剩余 提升*/
			function overtop() {
				$(".detail").after($("body>p.overtop").clone(true));
				var ss1 = $(".wrapper .overtop");
				ss1.css("display", "block");
				ss1.css("opacity", "1");
				setTimeout(function() {
					ss1.css("opacity", "0");
					ss1.remove();
				}, 1000);
			}
function ts1(n) {
				var one = n % 1;
				if(one == 0) {
					n = n+".00"
				} else {
					var len = n.toString().split(".")[1].length;

					if(len == 1) {
						n = n + "0";
					} else if(len == 2) {
						n = n;
					} else if(len > 2) {
						n = n.toString().substr(0, n.toString().indexOf(".") + 3)
					}
				}

				$("#em1").text(n);

			}
			var qian = parseFloat($("#qian").text()); /*鹅单价*/
			var profit = {$arr.jsprofit}; /*鹅利润*/
			var zhon = parseFloat($("#em1").text());
			var liday =  {$arr.rate};/*联养周期*/
			var lilu = {$arr.return_price};
			var  kkkl = qian*lilu*liday/360/100;
			/*alert(kkkl*9+"yu"+kkkl)*/
			var profit = kkkl; /*鹅利润*/
			var p1;
pr();
			/*利润 写入 2位小数*/
			function pr(){
			if(profit % 1 ==0){
				$("#profit").text(profit + ".00");
				p1 =profit.toString()+".00";
			}else{
				var lens =profit.toString().split(".")[1].length;
				if(lens == 1) {
						$("#profit").text(profit + "0");
						p1 =profit.toString()+"0";
					} else if(lens == 2) {
						$("#profit").text(profit);
						p1 =profit;
					} else if(lens > 2) {
						p1 =profit.toString().substr(0, profit.toString().indexOf(".") + 3);
						$("#profit").text(p1);
					}
			}
			}
			qians();
			/*总额写入 2位小数*/
			function qians(){
			var ss2 =  $("#qian").text();

			if(qian % 1 ==0){
				$("#qian").text(qian + ".00");
			}else{
				var lens1 =ss2.toString().split(".")[1].length;
				if(lens1 == 1) {
						$("#qian").text(qian + "0");
					} else if(lens1 == 2) {
						$("#qian").text(qian);
					} else if(lens1 > 2) {
						$("#qian").text(qian.toString().substr(0, qian.toString().indexOf(".") + 3));
					}
			}
			}
			function bian() {
				/*鹅只数量 输出*/
				if($("#number").val() == "") {
					$("#numbers").text(0);
				} else {
					$("#numbers").text(Math.abs($("#number").val()));
				}
				tofix($("#qian"), qian); /*鹅总价*/
				tofix1(); /*鹅利润*/
			}
			/* 总价 利润 输出*/
			function tofix(st, fs) {
				var zong = $("#number").val() * fs;
				if(zong % 1 ==0){
					st.text(zong + ".00");
				}else{
					var lens1 =zong.toString().split(".")[1].length;
					if(lens1 == 1) {
							st.text(zong + "0");
						} else if(lens1 == 2) {

							st.text(zong);

						} else if(lens1 > 2) {
							st.text(zong.toString().substr(0, zong.toString().indexOf(".") + 3));
						}
				}
			}
			function tofix1() {
				var zong = parseInt($("#number").val())*qian*lilu*liday/360/100 ;
				if(zong % 1 ==0){
					$("#profit").text(zong + ".00");
				}else{
					var lens1 =zong.toString().split(".")[1].length;
					if(lens1 == 1) {
							$("#profit").text(zong + "0");
						} else if(lens1 == 2) {
							$("#profit").text(zong);
						} else if(lens1 > 2) {
							$("#profit").text(zong.toString().substr(0, zong.toString().indexOf(".") + 3));
						}
				}
			}
			/*$(".detail3 .row:nth-child(3) p:nth-child(2)").click(function() {
				$(".packet").css("top", "0vh");
				$("#red_select_list").css("display","block");
			})
			$(".packet .red_seclet .closeList .close-popup").click(function() {
				$(".packet").css("top", "100vh");
			})*/
			/*商铺辅助鹅群说明*/
			$("a.found").click(function() {
				$("#goodcover").css("display", "block");
				$("#code").css("display", "block");
			})
			/*商铺辅助鹅群说明 关闭*/
			$(".close").click(function() {
				$("#goodcover").css("display", "none");
				$("#code").css("display", "none");
			})
			/*卖完 状态切换*/
			/*$(".detail4").click(function() {
				$(".detail4").css("display", "none");
				$(".detail3").css("display", "block");
			})*/
			/*阅读并同意的按钮*/

			$(".row6>div>div").click(function() {
				$(this).toggleClass("dui");
				var duis = $(this).hasClass("dui");
				if(duis == true) {
					/*取消选择 禁用*/
					$("#big-button").css("background", "linear-gradient(to right,#b7b5b4,#b7b5b4)");
					$("#big-button").attr({
						"disabled": "disabled"
					});
				} else {
					/*选择  取消禁用*/
					$("#big-button").removeAttr("disabled");
					$("#big-button").css("background", " linear-gradient(to right, #51d2a7, #51d1a1)");
				}
			})
			/*买鹅按钮点击*/
			$("#big-button").click(function() {
				if($("#max6").val() == "") {
					$(".overtop1 .overtop_text").text("请输入支付密码");
					$("#goodcover").css("display", "block");
					$(".overtop1").css("display", "block");
				} else if($("#max6").val().length !== 6) {
					$(".overtop1 .overtop_text").text("支付密码错误");
					$("#goodcover").css("display", "block");
					$(".overtop1").css("display", "block");
				} else {
					/*js判断完成，防止连续点击，禁止点击*/
					$("#big-button").attr({
						"disabled": "disabled"
					});
					var sp_id = $("#sp_id").val();
					var number = $("#number").val();
					var max6 = $("#max6").val();
					$.ajax({
						type: "POST", //提交方式
						url: "{:url('Order/info')}", //路径
						data: {
							"sp_id": sp_id,
							"number": number,
							"pay_pass": max6
						},
						dataType: "json", //数据，这里使用的是Json格式进行传输
						success: function(result) {
							var aa = JSON.parse(result);
							console.log(aa);
							if(aa.code == 0) {
								$(".overtop").text(aa.msg);
								overtop();

								setTimeout(function() { //使用  setTimeout（）方法设定定时2000毫秒
									/*提示完成，取消 禁止点击，防止返回上一页继续购买*/
									zhon = parseFloat(zhon) -parseFloat($("#qian").text());
									/*tos(zhon);*/
									ts1(zhon);
									$("#number").val(1);
									$("#numbers").text(1);
									$("#qian").text(qian);
									$("#profit").text(p1);
									$("#max6").val("");
								$("#big-button").removeAttr("disabled");

									window.location = '{:url("Rancher/index")}';

								}, 300);
							} else {
								/*提示错误，取消 禁止点击*/
								$("#big-button").removeAttr("disabled");
								$(".overtop").text(aa.msg);
								overtop();
							}
						},
						error: function() {
							/*提示错误，取消 禁止点击*/
							$("#big-button").removeAttr("disabled");
							$(".overtop").text("请刷新页面重试");
							overtop();
						}
					});
				}
			})
			/* 弹窗提示的确定*/
			$(".overtop1 p:nth-child(2)").click(function() {
				$("#goodcover").css("display", "none");
				$(".overtop1").css("display", "none");
			})
			/* 弹窗提示的背景*/
			$("#goodcover").click(function() {
				$("#goodcover").css("display", "none");
				$(".overtop1").css("display", "none");
				$("#code").css("display", "none");
			})
		</script>

	</body>

</html>