<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>趣味农场</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<link rel="stylesheet" type="text/css" href="__WAP__/css/header.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer.css" />
		<script src="__WAP__/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer-background.css"/>

	</head>

	<body>
		<div class="background"></div>
		<div class="wrapper">
			<div class="header">
				<div class="">
					<span class="icon"></span><span>返回</span>
				</div>
				<h3>趣味农场服务协议</h3>

			</div>
			<div class="page page-current" id="uc_se_agree">

				<div class="content native-scroll" style="font-size:15px;">
					<!--<p style="text-align:center;font-size:18px;"><strong>趣味农场服务协议</strong></p>-->
					<br>
					<p>甲方：农村家禽养殖专业合作社</p>
					<p>乙方：乙方姓名</p>
					<p>身份证号码：乙方身份证号码</p>
					
					<p>手机号码：乙方认证手机
					</p>
					<p>联养期数：甲方推出期数(种类)</p>
					<p>领养数量：乙方联合养殖数量(只)</p>
					<p>总领养金额：乙方联合养殖总金额(元)</p>
					
					<p>预期收益：甲方推出当期联合养殖产品</p>
					<p>协议编号：订单编号</p>
					
					
					
					<br>
					<p><strong>鉴于：</strong></p>
					<p class="column">1.甲方是多家从事散养鹅养殖/孵化专业合作社</p>
					<p class="column">2.丙方是互联网平台"趣味农场"（以下简称，丙方平台）的运营管理人，提供技术解决方案咨询，线上商城销售及相关服务。</p>
					<p class="column">3.乙方作为丙方平台注册用户（具体信息详见本协议首部表格），拟通过丙方平台与甲方合作联合养殖饲养鹅只，以获取投资收益。</p>
					<p class="column">4.甲方及乙方均同意遵守丙方平台的各项行为准则,在充分阅读理解本文本情形下本着诚信自愿原则签订本协议。现各方根据《中华人民共和国合同法》等相关法律、法规的规定，在平等自愿、协商一致的基础上，就合作饲养鹅只事宜，达成本协议如下：</p>
					
					<p><strong>一、合作方式：</strong></p>
					<p class="column">三方同意以"互联网农场"的模式合作养殖常规鹅群/铺助鹅群/vip定制续订鹅群，即乙方作为投资人提供资金，委托甲方购买鹅苗后进行养殖，最终按约定方式获取投资收益;甲方接受乙方委托，利用乙方资金以自己的名义代乙方购买鹅苗并进行养殖，待养殖完成后按约定形式向乙方返还投资收益，乙方据此向甲方支付一定比例的报酬；丙方负责运营"趣味农场"平台，为甲乙双方在"互联网农场"模式下的合作提供交易平台及信息数据的采集、披露等技术支持服务。</p>
					
					<br>
					<p><strong>二.合作内容</strong></p>
					<p class="column">1.乙方在丙方平台发布的认购期内认购一定数量的鹅只，并将所认购鹅只数量对应的投资本金支付给丙方，委托丙方代为转付甲方。</p>
					<p class="column">2.认购期届满（即丙方指定的认购期限届满之日或认购期内丙方发布的鹅只数量被足额认购之日，以先到日期为准）后次日，丙方将认购期内包含乙方在内成功认购的投资人所实际支付的投资本金总额一次性转付甲方。</p>
					<p class="column">3.甲方于收到乙方投资本金后3个工作日内，以自己的名义为乙方完成所认购数量鹅只的选购，并将所购买鹅的标号等信息告知两方，由两方将该等信息录入平台系统供乙方查询。</p>
					<p class="column">4.甲方确认并同意，其依据本协议所购买鹅的所有权归属于乙方，即自甲方从其交易对手处受领鹅苗之日起，乙方即享有鹅只的所有权。</p>
					<p class="column">5.乙方委托甲方对其所购买的鹅苗按照《鹅的饲养管理标准》（附件一)进行养殖，同时委托丙方对甲方受托养殖的过程进行监督。</p>
					<p class="column">6.甲方接受乙方委托，提供/自建符合约定标准（详见附件二《鹅舍及配套设备设施标准》)的鹅舍和配套设备设施, 并按照《鹅的饲养管理标准》(附件一)的要求对乙方鹅只进行养殖。</p>
					<p class="column">7.鹅养殖期间，甲方按照丙方的要求实时向丙方提供鹅养殖过程中的各项数据信息，由丙方完成系统的录入，从而乙方可通过丙方平台实时查看鹅的养殖过程。</p>
					<p class="column">8.除乙方按本协议约定承担的部分费用外，鹅养殖过程中所产生的一切费用，包括但不限于鹅舍及配套设备设施的建造、安装、词料、疫苗、除虫、人工等均由甲方承担。</p>
					<p class="column">9.甲方在符合当地投保条件的情况下，负责为所养殖的鹅投保养殖保险，如因甲方自身养殖问题或其它问题导致的鹅只受损或投资资金损失由甲方承担。</p>
					<p class="column">10.鹅的养殖周期为90天，养殖结束后，甲方将按照本协议约定形式通过丙方向乙方返还投资收益。按预期现金年化收益率计算收益，以自然月为基础，超出自然月天数按天计算收益。（每个自然月为30天计算收益）。出栏日之后甲方有权提前返本金及收益，以自然月为基础，超出自然月天数按天计算收益。(每个自然月为30天计算收益)。</p>
					
					<br>
					<p><strong>三.投资本金及其支付方式</strong></p>
					<p class="column">1.本协议项下的"投资本金"是指，乙方为甲方受托履行本协议所需一次性支付给甲方的费用及报酬。</p>
					<p class="column">2.每只鹅的投资本金为（元），详见下表：投资本金单位单价（元）购鹅款、饲料、人工、疫苗等综合费用总计：</p>
					<p class="column">3.各方确认，乙方通过丙方平台成功认购的鹅只数量，即乙方委托甲方购买的鹅只数量，以及本协议项下乙方应支付给甲方的投资本金金额详见本协议首部表格。</p>
					<p class="column">4.支付方式：本协议成立后，乙方应一次性将应付的投资本金通过在线支付或银行转账等方式足额支付至第三方托管平台，乙方同意并授权，经丙方确认之后，由第三方托管平台于认购期届满后次日将投资本金总额转付至甲方指定收款帐户。</p>
					<p class="column">5.甲方指定收款帐户信息如下：</p><p class="column">户名：</p><p class="column">账号:</p><p class="column">开户行：</p>
					<br>


					<p><strong>四.投资收益的返还</strong></p>
					<p class="column">1.乙方确认并同意，鹅只养殖结束后，甲方按照约定以现金年化收益率，向乙方返还投资收益。 </p>
					<p class="column">2.现金部分：</p>
					<p class="column">(1) 无需征得乙方同意，甲方自己可以作为乙方鹅的买受人。</p>
					<p class="column">(2) 甲方以自己名义代为出售鹅时，应按照乙方的指示以不低于元/只（扣除应缴税费后，以下简称"指导价"） 的售价卖出，按照指导价出售所得价款全部归属于乙方。</p>
					<p class="column">(3) 甲乙双方确认并同意，如甲方高于指导价出售鹅的，则超出约定的预期年化率部分的收益归甲方所有；若低于指导价出售的，则甲方应向乙方补足其低于约定的预期年化率部分的收益的差额部分。 </p>
					<p class="column">(4) 全部鹅只出栏后3个工作日内，甲方应将乙方应得的投资收益（具体金额详见本协议首部表格）支付至第三方托管平台，经丙方确认之后，由第三方托管平台代为转付至乙方指定收款账户。</p>
					<p class="column">(5) 甲乙丙三方确认，投资本金自认购之日至采购期鹅只入栏当日不计算投资收益。</p>
					<p class="column">3.如采用实物返还形式的，具体收益返还标准及费用详见附件三（该附件暂不提供）。</p>
					<br>
					<p><strong>五.甲方的权利及义务</strong></p>
					<p class="column">1. 甲方有权按照本协议约定向乙方预先收取一定的费用及报酬。 </p>
					<p class="column">2. 甲方应在本协议约定的期限内，按照乙方成功认购的鹅只数量为乙方选购鹅苗。 </p>
					<p class="column">3. 甲方应保证其为乙方选购的鹅苗均符合《鹅的饲养管理标准》（附件一）中约定的选购标准。</p>
					<p class="column">4. 甲方应负责提供/自建鹅的养殖所需的鹅舍和配套设备设施，并承担由此产生的一切费用。鹅舍和配套设备设施建设、安装完毕后，需经丙方指定的技术监督单位进行猃收，验收符合标准的方能投入使用。鹅舍建造如需要相关部门审批许可的，由甲方自行办理。</p>
					<p class="column">5. 甲方应保证在对乙方鹅只进行养殖期间，其提供/自建的鹅舍和配套设备设施始终符合《鹅舍及配套设备设施标 准》(附件二)的各项要求及指标。  </p>
					<p class="column">6. 甲方在受托养殖过程中应严格按照《鹅的饲养管理标准》（附件一）操作，确保鹅宝宝能够达到出栏标准、按时向乙方返还投资收益。</p>
					<p class="column">7. 甲方在符合当地投保条件的情况下，应为其受托养殖的鹅只投保养殖保险，并承担养殖风险；甲方承担鹅的养殖期间所发生的一切风险和损失。 </p>
					<p class="column">8. 甲方须接受乙方及丙方的检查和监督，按丙方要求实时通过丙方平台向乙方提交鹅的养殖操作的相关数据，并保证其提供给乙方俩方的各项数据及信息均真实、准确、完整。  </p>
					<p class="column">9. 养殖结束后，甲方须按照本协议第四条的约定向乙方返还投资收益，甲方对本协议约定的投资收益承担保证担保责任，因市场萧条等外部因素导致销售收入不足以覆盖本协议约定的投资本金及收益时，由甲方负责补足差额。</p>
					<p class="column">10. 如甲方因经营不善或财务状况严重恶化等因素而丧失还款或保证担保能力的，乙方有权要求甲方将鹅返还乙方或者及时予以销售，甲方应无条件予以配合。  </p>
					<p class="column">11. 甲方须为其在本协议项下各项义务向乙方提供经丙方认可的履约担保。</p>
					
					<br>
				 
					<p><strong>六.乙方的权利及义务 </strong></p>
					<p class="column">1. 乙方有权要求甲方按照约定标准代为选购鹅苗，并按照约定享有本协议项下鹅只的所有权。 </p><p class="column">2. 乙方有权委托丙方代为向甲方转付投资本金，并收取投资收益。 </p>
<p class="column">3. 乙方有权要求甲方严格按照《鹅的饲养管理标准》(附件一)对鹅只进行养殖，并承担养殖风险。  </p>
<p class="column">4. 乙方有权监督甲方在本协议项下对各委托事项的履行情况，包括但不限于鹅的购买、养殖、屠宰、出售等，并有权通过丙方平台实时査询合作养鹅过程中备项操作数据及信息。 </p>
<p class="column">5. 养殖结束后，乙方有权按照本协议笫四条约定要求甲方返还投资收益。 </p>
<p class="column">6. 乙方有权委托丙方，对甲方不履行本协议项下义务的行为而给乙方造成的损失进行赔偿。 </p>
<p class="column">7. 乙方应按本协议约定向甲方支付投资本金。 </p>
<p class="column">8. 乙方应保证其投资资金来源合法，且是该资金的合法所有人。如果因其资金的归属及合法性问题与第三方发生争议，由乙方自行负责解决；如因此给甲方或丙方造成任何直接或间接损失，乙方应予以赔偿。</p>
<p class="column">9. 非经甲、丙双方书面同意，乙方不得单方面提前解除或终止本协议。  </p>
<p class="column">10.本协议履行期间，如因发生不能预见、不能克服、不能避免等不可抗力因素（如：台风、地震、洪水、冰雹等自然灾寄、战争、社会动乱、政府禁令等）而给乙方造成损失的，由乙方应承担相应的投资风险及损失，与丙方无关。发生不可抗力情形时，甲方有义务及时通知乙方和丙方，并积极履行必要的配合义务。因每个农场签订的保险公司不同，最终以保险合同为准。 </p>
<p class="column">11.由乙方因自身原因（密码丢失或被盗等）导致账户财产损失，由乙方自行承担。</p>

<p><strong>七.丙方的权利和义务  </strong></p>
					<p class="column">1. 丙方有权监督甲方在本协议项下对各委托事项的履行情况，并要求甲方实时提供合作养鹅过程中各项操作数据及信息。  </p><p class="column">2. 丙方接受乙方委托，有权代为与甲方协商鹅的养殖及出售相关事宜，并就甲方的违约行为代乙方进行追偿。  </p>
<p class="column">3. 负责按本协议约定运营管理丙方平台。 </p>
<p class="column">4. 丙方应按照本协议约定按时向甲方转付乙方投资本金，并将代为收取的投资收益及时返还乙方。</p>
<p class="column">5. 丙方应将其所掌握的、来源于甲方自行提供的信息通过其平台向乙方准确、完整的披露，但丙方并不对上述信息及其来源的真实性作实质性审査。</p>
<p><strong>八. 违约责任   </strong></p>
					<p class="column">1. 一方违反其在本协议中所作的声明和保证或未完全履行其在本协议项下的义务,即视为违约,因此给守约方造成损失的,违约方应予赔偿。  </p>
					<p class="column">2. 违约方因违约应赔偿给守约方的损失,包括但不限于因违约给守约方造成的直接损失,以及守约方在协议履行后可以获得的利益、守约方为防止或减少损失的扩大而支出的合理费用、守约方支付的诉讼费和律师费等间接损失。  </p>
<p class="column">3. 各方均有过错的,应根据各方实际过错程度,分别承担各自的违约责任。 </p>
九. 协议的签订及生效 
1. 本协议通过乙方以在线点击丙方平台页面上相应按钮的方式签订并成立。本协议一经乙方签署,即视为各方接受本协议条款内容并受此内容之拘束。 
2. 本协议自丙方收到本协议项下乙方应支付的投资本金后立即生效。
十.协议的解除和终止 
1. 经各方一致协商，可以共同决定提前解除或终止本协议。 
2. 除本协议另有约定外，任何一方不得擅自单方面提前解除或终止本协议。 
3. 甲方违反其在本协议项下的义务致使乙方在本协议项下的目的不能实现的，乙方有权提前解除本协议，并要求甲方赔偿由此造成的一切损失。 
十一.争议解决条款 
因解释和履行本协议而发生的任何争议，各方应首先通过友好协商的方式加以解决。如果在一方向其他方发出要求协商解决的书面通知后30天之内争议仍然得不到解决，则任何一方均有权将有关争议提交郑州仲裁委员会依据届时有效的仲裁规则进行裁决。 
十二.其他条款 
1. 本协议受中华人民共和国法律管辖并依其解释和履行。对本协议的任何修改或补充应以丙方平台电子文本形式作出，作为本协议的组成部分，具有与本协议同等的法律效力。
2. 任何一方未行使或延迟行使本协议及其修改或补充协议所约定的任何权利或救济的行为,都不应构成或被视为弃权行为；任何单一或部分行使上述权利和救济的行为也不应妨碍对该权利和救济的进一步行使。 
3. 本协议的任何条款或规定如在任何法律管辖的任何情况下无效或不能强制执行，不影响本协议的其他条款或规定的有效性或可强制执行性，也不影响该条款或规定在其他情况下或其他司法管辖区的效力或可强制执行性。
4.各方应采取和签署使本协议条款生效所需的所有其他行为、契约、活动和文件或使上述行动被采取或文件被签署。 如果在交割后的任何时候，为实现本协议的目的必须或需要采取任何进一步的行动，协议任何一方都应在协议其他方合理要求下采取这种行动（包括签署及交付文书和文件）。
5.本协议各方委托丙方保管所有与本协议有关的书面文件、电子信息和数据电文。

<p><strong>九. 协议的签订及生效  </strong></p>
					<p class="column">1. 本协议通过乙方以在线点击丙方平台页面上相应按钮的方式签订并成立。本协议一经乙方签署,即视为各方接受本协议条款内容并受此内容之拘束。   </p>
					<p class="column">2. 本协议自丙方收到本协议项下乙方应支付的投资本金后立即生效。 </p>
<p><strong>十.协议的解除和终止  </strong></p>
					<p class="column">1. 经各方一致协商，可以共同决定提前解除或终止本协议。 </p>
					<p class="column">2. 除本协议另有约定外，任何一方不得擅自单方面提前解除或终止本协议。 </p>
<p class="column">3. 甲方违反其在本协议项下的义务致使乙方在本协议项下的目的不能实现的，乙方有权提前解除本协议，并要求甲方赔偿由此造成的一切损失。  </p>
<p><strong>十一.争议解决条款 </strong></p>
					<p class="column">因解释和履行本协议而发生的任何争议，各方应首先通过友好协商的方式加以解决。如果在一方向其他方发出要求协商解决的书面通知后30天之内争议仍然得不到解决，则任何一方均有权将有关争议提交郑州仲裁委员会依据届时有效的仲裁规则进行裁决。 </p>
					
<p><strong>十二.其他条款 </strong></p>
					<p class="column">1. 本协议受中华人民共和国法律管辖并依其解释和履行。对本协议的任何修改或补充应以丙方平台电子文本形式作出，作为本协议的组成部分，具有与本协议同等的法律效力。</p>
					<p class="column">2. 任何一方未行使或延迟行使本协议及其修改或补充协议所约定的任何权利或救济的行为,都不应构成或被视为弃权行为；任何单一或部分行使上述权利和救济的行为也不应妨碍对该权利和救济的进一步行使。 </p>
<p class="column">3. 本协议的任何条款或规定如在任何法律管辖的任何情况下无效或不能强制执行，不影响本协议的其他条款或规定的有效性或可强制执行性，也不影响该条款或规定在其他情况下或其他司法管辖区的效力或可强制执行性。 </p>

					<p class="column">4.各方应采取和签署使本协议条款生效所需的所有其他行为、契约、活动和文件或使上述行动被采取或文件被签署。 如果在交割后的任何时候，为实现本协议的目的必须或需要采取任何进一步的行动，协议任何一方都应在协议其他方合理要求下采取这种行动（包括签署及交付文书和文件）。 </p>
					<p class="column">5.本协议各方委托丙方保管所有与本协议有关的书面文件、电子信息和数据电文。</p>




					
				

			</div>

		</div>
		<script src="__WAP__/js/header.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">

		</script>
	</body>

</html>