/*媒体查询 页面小于900px*/

@media screen and (max-width: 900px) {
	.wrapper {
		width: 100%;
		background-color: white;
		position: fixed;
		left: 0;
		top: 0;
	}
	.footer {
		width: 100%;
	}
	.background {
		display: none;
	}
}
/*body{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
}*/
.wrapper{	   
	    box-sizing: border-box;
	    overflow: auto;
	    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar  
{  
    width: 1px;  
    height: 1px;  
    background-color: white;  
   
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);  
    border-radius: 1px;  
    background-color: white;  
   
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 1px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);  
    background-color: white;  
   
}  
/*媒体查询 页面大于900px*/

@media screen and (min-width: 900px) {
	.background {
		display: block;
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background-image: url(../img/beijing.jpeg);
		filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
		-moz-background-size: 100% 100%;
		background-size: 100% 100%;
		z-index: -1;
	}
	.wrapper {
		width: 800px;
		margin: 0 auto;
		background-color: white;
		
	}
	.footer {
		width: 800px;
	}
}