<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<!--<title>牧场超市</title>-->
		<title>趣味农场</title>
		<link rel="stylesheet" type="text/css" href="__WAP__/css/header.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/spirit.css" />
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer.css" />
		<script src="__WAP__/js/jQuery v2.1.1.js"></script>
		<link rel="stylesheet" type="text/css" href="__WAP__/css/media_quer-background.css"/>
		<style type="text/css">
			.bgCo {
				background: #f0f0f3;
				padding: 0.5rem;
				width: 100%;
			}

			.no_record {
				width: 12rem;
				height: 13rem;
				margin: 10rem auto 0 auto;
				background: url(__WAP__/img/no_record.png) no-repeat center center;
				background-size: 100%;
			}
		</style>
	</head>

	<body>
		<div class="wrapper" id="shopping_mall">
			<div class="header">
				<div class="" >
					<span class="icon"></span><span>返回</span>
				</div>
				<h3>购物清单</h3>

			</div>
			<div class="invest bgCo">
				<ul>
					<input type="hidden" id="response_code" value="1">

					<div class="no_record"></div>

				</ul>
			</div>

		</div>
		<div class="background"></div>
		<p class="overtop"></p>
		<script src="__WAP__/js/header.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>