/*
.icon{
	background: url('../img/iconlist_04.png');
	 no-repeat center 9.2%;
	
}
a.icon0{background-position: 0px 0px !important;width:100px;height:100px;
border: 1px solid  gainsboro;
border-radius:15px ;}
span.icon1{background-position: -15px -95px !important;width:70px;height:70px;}
span.icon2{background-position: -15px -195px !important;width:70px;height:70px;}
span.icon3{background-position: -15px -295px !important;width:70px;height:70px;}
span.icon4{background-position: -15px -395px !important;width:70px;height:70px;}
span.icon5{background-position: -15px -495px !important;width:70px;height:70px;}
span.icon6{background-position: -15px -595px !important;width:70px;height:70px;}
span.icon7{background-position: 0 -695px !important;width:70px;height:70px;}*/


/*index1 nav图标精灵定位选择*/

.icon0 {
	margin: 0 auto;
	width: 44px;
	height: 44px;
	background: url(../img/iconlist_04.png) no-repeat center 0%;
	background-size: 6rem;
	border: 1px solid #e3e3e3;
	border-radius: 15px;
	box-sizing: border-box;
}

.icon0 span {
	width: 44px;
	height: 44px;
}

.icon0 .icon1 {
	background: url(../img/iconlist_04.png) no-repeat center 9%;
	background-size: 4rem;
}

.icon0 .icon2 {
	background: url(../img/iconlist_04.png) no-repeat center 20.5%;
	background-size: 4rem;
}

.icon0 .icon3 {
	background: url(../img/iconlist_04.png) no-repeat center 32%;
	background-size: 4rem;
}

.icon0 .icon4 {
	background: url(../img/iconlist_04.png) no-repeat center 42%;
	background-size: 4rem;
}

.icon0 .icon5 {
	background: url(../img/iconlist_04.png) no-repeat center 53%;
	background-size: 4rem;
}

.icon0 .icon6 {
	background: url(../img/iconlist_04.png) no-repeat center 64.5%;
	background-size: 4rem;
}


/*.icons{
	background: url('../img/iconlist_05.png');
	 no-repeat center 9.2%;
}
.icons1{
	background-position: 0px 0px !important;width:60px;height:60px;
}*/