{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="mb-20" method="get" action="/admin/user/info/id/{$id}.html">
        <input type="text" class="input-text" style="width:250px" placeholder="1充值,2提现,3购买" name="or" >
        <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </form>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="">id</th>
            <th width="">用户id</th>
            <th width="">用途</th>
            <th width="">金额</th>
            <th width="">备注</th>
            <th width="">创建时间</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.id}</td>
            <td>{$vo.user_id}</td>
            <td>
            {if condition="$vo.or eq 1"}
            充值
            {elseif condition="$vo.or eq 2"}
            提现
            {else/}
            购买
            {/if}
            </td>
            <td>{$vo.money}</td>
            <td>{$vo.comment}</td>
            <td>{$vo.create_time|date="y-m-d h:i:s",###}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}

